<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.def.mapper.ext.DefMatchItemExtMapper">
    <!-- 动态查询列表 -->
	<select id="selectListByDynamic"
		resultMap="com.saas.def.mapper.base.DefMatchItemMapper.BaseResultMap"
		parameterType="Object">
		select <include refid="com.saas.def.mapper.base.DefMatchItemMapper.Base_Column_List" />
		from def_match_item
		<where>
			<if test="customQuerySegment != null and customQuerySegment != '' ">
				and ${customQuerySegment}
			</if>
            <if test="queryMap.item_id != null">
              and item_id = #{queryMap.item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.parent_item_id != null">
              and parent_item_id = #{queryMap.parent_item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.match_id != null">
              and match_id = #{queryMap.match_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_id != null">
              and cote_id = #{queryMap.cote_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_name != null">
              and cote_name = #{queryMap.cote_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_type != null">
              and item_type = #{queryMap.item_type,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_name != null">
              and item_name = #{queryMap.item_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_desc != null">
              and item_desc = #{queryMap.item_desc,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_status != null">
              and item_status = #{queryMap.item_status,jdbcType=INTEGER }			
			</if>		
            <if test="queryMap.create_time != null">
              and create_time = #{queryMap.create_time,jdbcType=TIMESTAMP }			
			</if>		
            <if test="queryMap.modify_time != null">
              and modify_time = #{queryMap.modify_time,jdbcType=TIMESTAMP }			
			</if>		
		</where>
		<if test="sort != null and sort != '' ">
			order by ${sort}
		</if>
		<if test="page != null ">
			limit ${page.offset},${page.pageSize}
		</if>
	</select>

    <!-- 动态查询总数 -->
	<select id="selectCountByDynamic" resultType="long"
		parameterType="Object">
		SELECT count(*)
		from def_match_item
		<where>
			<if test="customQuerySegment != null and customQuerySegment != '' ">
				and ${customQuerySegment}
			</if>
            <if test="queryMap.item_id != null">
              and item_id = #{queryMap.item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.parent_item_id != null">
              and parent_item_id = #{queryMap.parent_item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.match_id != null">
              and match_id = #{queryMap.match_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_id != null">
              and cote_id = #{queryMap.cote_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_name != null">
              and cote_name = #{queryMap.cote_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_type != null">
              and item_type = #{queryMap.item_type,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_name != null">
              and item_name = #{queryMap.item_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_desc != null">
              and item_desc = #{queryMap.item_desc,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_status != null">
              and item_status = #{queryMap.item_status,jdbcType=INTEGER }			
			</if>		
            <if test="queryMap.create_time != null">
              and create_time = #{queryMap.create_time,jdbcType=TIMESTAMP }			
			</if>		
            <if test="queryMap.modify_time != null">
              and modify_time = #{queryMap.modify_time,jdbcType=TIMESTAMP }			
			</if>		
		</where>
	</select>
	
	 <!-- 动态删除 -->
	<delete id="deleteByDynamic" parameterType="Object">
		delete from def_match_item
		<where>
			<if test="customQuerySegment != null and customQuerySegment != '' ">
				and ${customQuerySegment}
			</if>
            <if test="queryMap.item_id != null">
              and item_id = #{queryMap.item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.parent_item_id != null">
              and parent_item_id = #{queryMap.parent_item_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.match_id != null">
              and match_id = #{queryMap.match_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_id != null">
              and cote_id = #{queryMap.cote_id,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.cote_name != null">
              and cote_name = #{queryMap.cote_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_type != null">
              and item_type = #{queryMap.item_type,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_name != null">
              and item_name = #{queryMap.item_name,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_desc != null">
              and item_desc = #{queryMap.item_desc,jdbcType=VARCHAR }			
			</if>		
            <if test="queryMap.item_status != null">
              and item_status = #{queryMap.item_status,jdbcType=INTEGER }			
			</if>		
            <if test="queryMap.create_time != null">
              and create_time = #{queryMap.create_time,jdbcType=TIMESTAMP }			
			</if>		
            <if test="queryMap.modify_time != null">
              and modify_time = #{queryMap.modify_time,jdbcType=TIMESTAMP }			
			</if>		
		</where>
	</delete>
	
	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="list">
		insert into def_match_item 
		(
		item_id,
		parent_item_id,
		match_id,
		cote_id,
		cote_name,
		item_type,
		item_name,
		item_desc,
		item_status,
		create_time,
		modify_time
		)
		values
		<foreach item="item" index="index" collection="list" open=""
			separator="," close="">
			(
			    #{item.item_id,jdbcType=VARCHAR},
			    #{item.parent_item_id,jdbcType=VARCHAR},
			    #{item.match_id,jdbcType=VARCHAR},
			    #{item.cote_id,jdbcType=VARCHAR},
			    #{item.cote_name,jdbcType=VARCHAR},
			    #{item.item_type,jdbcType=VARCHAR},
			    #{item.item_name,jdbcType=VARCHAR},
			    #{item.item_desc,jdbcType=VARCHAR},
			    #{item.item_status,jdbcType=INTEGER},
			    #{item.create_time,jdbcType=TIMESTAMP},
			    #{item.modify_time,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
    
    <!-- 批量更新 -->
    <update id="updateBatch" parameterType="list">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			 update def_match_item 
			<set>
                <if test="item.parent_item_id != null">
                  and parent_item_id = #{item.parent_item_id,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.match_id != null">
                  and match_id = #{item.match_id,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.cote_id != null">
                  and cote_id = #{item.cote_id,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.cote_name != null">
                  and cote_name = #{item.cote_name,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.item_type != null">
                  and item_type = #{item.item_type,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.item_name != null">
                  and item_name = #{item.item_name,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.item_desc != null">
                  and item_desc = #{item.item_desc,jdbcType=VARCHAR}			
			     </if>		
                <if test="item.item_status != null">
                  and item_status = #{item.item_status,jdbcType=INTEGER}			
			     </if>		
                <if test="item.create_time != null">
                  and create_time = #{item.create_time,jdbcType=TIMESTAMP}			
			     </if>		
                <if test="item.modify_time != null">
                  and modify_time = #{item.modify_time,jdbcType=TIMESTAMP}			
			     </if>		
			</set>
			where
		      item_id=#{item.item_id,jdbcType=VARCHAR}
		</foreach>
	</update>
	
</mapper>