<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.biz.mapper.ext.WappPigownerExtMapper" >
 <select id="selectListByDynamic" resultMap="com.saas.biz.mapper.base.WappPigownerMapper.BaseResultMap"
		parameterType="Object">
		select 
		<include refid="com.saas.biz.mapper.base.WappPigownerMapper.Base_Column_List" />

		from wapp_pigowner
		
		<where>
			<if test="customQuerySegment != null and customQuerySegment != '' ">
				and ${customQuerySegment}
			</if>
		</where>
		<if test="sort != null and sort != '' ">
			order by ${sort}
		</if>
		<if test="page != null ">
			LIMIT ${page.offset},${page.pageSize}
		</if>
	</select>

	<select id="selectCountByDynamic" resultType="long"
		parameterType="Object">
		SELECT count(*)
		from wapp_pigowner
		<where>
			<if test="customQuerySegment != null and customQuerySegment != '' ">
				and ${customQuerySegment}
			</if>
			
		</where>
	</select>
</mapper>