<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>平民赛鸽网</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="../plugins/wap-assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../plugins/wap-assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="车生活"/>
  <link rel="apple-touch-icon-precomposed" href="../plugins/wap-assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="../plugins/wap-assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="../plugins/wap-assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../plugins/wap-assets/css/app.css">
  <style type="text/css">
   
    [data-am-widget="tabs"] {
    	margin: 0 !important;
    }
    .am-tabs {
    	margin: 0;
    }
    .am-tabs-bd {
    	border: 0;
    }
    .am-tabs-bd .am-tab-panel {
    	padding: 0;
    }
    .am-list {
    	margin-bottom: 0 !important;
    }
    .am-list-news-default .am-list .am-list-item-desced {
    	margin-bottom: 5px;
    	padding-bottom: 5px;
    }
    
   
  </style>
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
   
  </div>
  <h1 class="am-header-title">
    <a href="#title-link" class="">比赛列表</a>
  </h1>
  
</header>
<!--分割空白-->
<div style="height: 50px;"></div>
 <div data-am-widget="tabs" class="am-tabs am-tabs-d2"   >
	
      
      		<div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin: 0;">
					  <div class="am-list-news-bd">
					    <ul class="am-list">
					      <!--缩略图在标题左边-->
					       
					       <#list item as item>
					        
					        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
					          
					          <span class="am-u-sm-1 edit-radio am-text-primary am-icon-circle-o"></span>
					          <a href="racedetaillist?masterId=${item.id}">
					         
					          <div class=" am-u-sm-12 am-list-main">
					          	<h3 class="am-list-item-hd">
					              ${item.main_text}&nbsp;&nbsp;&nbsp;&nbsp;
					             
					            </h3>
					            <div  style="font-size:14px;color:#333"> ${item.title}</div>
					            <div class="am-list-item-text ">${item.create_time?string('yyyy-MM-dd hh:mm:ss')} </div> 
					                      
					            
					            <div class="am-list-phone">
					            	<span class="am-primary am-icon-md am-icon-angle-right"></span>
					            </div>
					          </div>
					          </a>
					        </li>  
					        </#list>
					                 
					    
					      </ul>
					    </div>
          </div>
        
  </div>

<script src="../plugins/wap-assets/js/jquery.min.js"></script>
<script src="../plugins/wap-assets/js/amazeui.min.js"></script>
<script src="../plugins/wap-assets/js/handlebars.min.js"></script>
<script src="../plugins/wap-assets/js/amazeui.widgets.helper.js"></script>
<script src="../plugins/wap-assets/js/app.js"></script>	


</body>
</html>
