<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.biz.mapper.base.NodejsMobileUserMapper">
  <resultMap id="BaseResultMap" type="com.saas.biz.pojo.NodejsMobileUser">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pigowner" jdbcType="VARCHAR" property="pigowner" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="cote_id" jdbcType="VARCHAR" property="cote_id" />
    <result column="cote_name" jdbcType="VARCHAR" property="cote_name" />
    <result column="short_cote_name" jdbcType="VARCHAR" property="short_cote_name" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    id, pigowner, mobile, cote_id, cote_name, short_cote_name, state, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from nodejs_mobile_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbg.generated
    -->
    delete from nodejs_mobile_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.saas.biz.pojo.NodejsMobileUser">
    <!--
    @mbg.generated
    -->
    insert into nodejs_mobile_user (id, pigowner, mobile, 
      cote_id, cote_name, short_cote_name, 
      state, create_time, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{pigowner,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{cote_id,jdbcType=VARCHAR}, #{cote_name,jdbcType=VARCHAR}, #{short_cote_name,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{modify_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.saas.biz.pojo.NodejsMobileUser">
    <!--
    @mbg.generated
    -->
    insert into nodejs_mobile_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pigowner != null">
        pigowner,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="cote_id != null">
        cote_id,
      </if>
      <if test="cote_name != null">
        cote_name,
      </if>
      <if test="short_cote_name != null">
        short_cote_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pigowner != null">
        #{pigowner,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="cote_id != null">
        #{cote_id,jdbcType=VARCHAR},
      </if>
      <if test="cote_name != null">
        #{cote_name,jdbcType=VARCHAR},
      </if>
      <if test="short_cote_name != null">
        #{short_cote_name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saas.biz.pojo.NodejsMobileUser">
    <!--
    @mbg.generated
    -->
    update nodejs_mobile_user
    <set>
      <if test="pigowner != null">
        pigowner = #{pigowner,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="cote_id != null">
        cote_id = #{cote_id,jdbcType=VARCHAR},
      </if>
      <if test="cote_name != null">
        cote_name = #{cote_name,jdbcType=VARCHAR},
      </if>
      <if test="short_cote_name != null">
        short_cote_name = #{short_cote_name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saas.biz.pojo.NodejsMobileUser">
    <!--
    @mbg.generated
    -->
    update nodejs_mobile_user
    set pigowner = #{pigowner,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      cote_id = #{cote_id,jdbcType=VARCHAR},
      cote_name = #{cote_name,jdbcType=VARCHAR},
      short_cote_name = #{short_cote_name,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>