<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.biz.mapper.base.NodejsCrawlerDetailGameMapper">
  <resultMap id="BaseResultMap" type="com.saas.biz.pojo.NodejsCrawlerDetailGame">
    <!--
    @mbg.generated
    -->
    <id column="detail_id" jdbcType="VARCHAR" property="detail_id" />
    <result column="cote_id" jdbcType="VARCHAR" property="cote_id" />
    <result column="cote_name" jdbcType="VARCHAR" property="cote_name" />
    <result column="cote_state" jdbcType="VARCHAR" property="cote_state" />
    <result column="master_id" jdbcType="VARCHAR" property="master_id" />
    <result column="master_text" jdbcType="VARCHAR" property="master_text" />
    <result column="master_href" jdbcType="VARCHAR" property="master_href" />
    <result column="master_type" jdbcType="VARCHAR" property="master_type" />
    <result column="master_website" jdbcType="VARCHAR" property="master_website" />
    <result column="detail_page" jdbcType="INTEGER" property="detail_page" />
    <result column="detail_page_index" jdbcType="INTEGER" property="detail_page_index" />
    <result column="detail_state" jdbcType="VARCHAR" property="detail_state" />
    <result column="distence" jdbcType="VARCHAR" property="distence" />
    <result column="ringnum" jdbcType="VARCHAR" property="ringnum" />
    <result column="pigowner" jdbcType="VARCHAR" property="pigowner" />
    <result column="cometime" jdbcType="VARCHAR" property="cometime" />
    <result column="cotenum" jdbcType="VARCHAR" property="cotenum" />
    <result column="speed" jdbcType="VARCHAR" property="speed" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="receiver_openid" jdbcType="VARCHAR" property="receiver_openid" />
    <result column="receiver_nickname" jdbcType="VARCHAR" property="receiver_nickname" />
    <result column="receiver_headimgurl" jdbcType="VARCHAR" property="receiver_headimgurl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
    <result column="weixin_pigowner" jdbcType="VARCHAR" property="weixin_pigowner" />
    <result column="weixin_mobile" jdbcType="VARCHAR" property="weixin_mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    detail_id, cote_id, cote_name, cote_state, master_id, master_text, master_href, master_type, 
    master_website, detail_page, detail_page_index, detail_state, distence, ringnum, 
    pigowner, cometime, cotenum, speed, rank, receiver_openid, receiver_nickname, receiver_headimgurl, 
    create_time, modify_time, weixin_pigowner, weixin_mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from nodejs_crawler_detail_game
    where detail_id = #{detail_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbg.generated
    -->
    delete from nodejs_crawler_detail_game
    where detail_id = #{detail_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.saas.biz.pojo.NodejsCrawlerDetailGame">
    <!--
    @mbg.generated
    -->
    insert into nodejs_crawler_detail_game (detail_id, cote_id, cote_name, 
      cote_state, master_id, master_text, 
      master_href, master_type, master_website, 
      detail_page, detail_page_index, detail_state, 
      distence, ringnum, pigowner, 
      cometime, cotenum, speed, 
      rank, receiver_openid, receiver_nickname, 
      receiver_headimgurl, create_time, modify_time, 
      weixin_pigowner, weixin_mobile)
    values (#{detail_id,jdbcType=VARCHAR}, #{cote_id,jdbcType=VARCHAR}, #{cote_name,jdbcType=VARCHAR}, 
      #{cote_state,jdbcType=VARCHAR}, #{master_id,jdbcType=VARCHAR}, #{master_text,jdbcType=VARCHAR}, 
      #{master_href,jdbcType=VARCHAR}, #{master_type,jdbcType=VARCHAR}, #{master_website,jdbcType=VARCHAR}, 
      #{detail_page,jdbcType=INTEGER}, #{detail_page_index,jdbcType=INTEGER}, #{detail_state,jdbcType=VARCHAR}, 
      #{distence,jdbcType=VARCHAR}, #{ringnum,jdbcType=VARCHAR}, #{pigowner,jdbcType=VARCHAR}, 
      #{cometime,jdbcType=VARCHAR}, #{cotenum,jdbcType=VARCHAR}, #{speed,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{receiver_openid,jdbcType=VARCHAR}, #{receiver_nickname,jdbcType=VARCHAR}, 
      #{receiver_headimgurl,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{modify_time,jdbcType=TIMESTAMP}, 
      #{weixin_pigowner,jdbcType=VARCHAR}, #{weixin_mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.saas.biz.pojo.NodejsCrawlerDetailGame">
    <!--
    @mbg.generated
    -->
    insert into nodejs_crawler_detail_game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detail_id != null">
        detail_id,
      </if>
      <if test="cote_id != null">
        cote_id,
      </if>
      <if test="cote_name != null">
        cote_name,
      </if>
      <if test="cote_state != null">
        cote_state,
      </if>
      <if test="master_id != null">
        master_id,
      </if>
      <if test="master_text != null">
        master_text,
      </if>
      <if test="master_href != null">
        master_href,
      </if>
      <if test="master_type != null">
        master_type,
      </if>
      <if test="master_website != null">
        master_website,
      </if>
      <if test="detail_page != null">
        detail_page,
      </if>
      <if test="detail_page_index != null">
        detail_page_index,
      </if>
      <if test="detail_state != null">
        detail_state,
      </if>
      <if test="distence != null">
        distence,
      </if>
      <if test="ringnum != null">
        ringnum,
      </if>
      <if test="pigowner != null">
        pigowner,
      </if>
      <if test="cometime != null">
        cometime,
      </if>
      <if test="cotenum != null">
        cotenum,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="receiver_openid != null">
        receiver_openid,
      </if>
      <if test="receiver_nickname != null">
        receiver_nickname,
      </if>
      <if test="receiver_headimgurl != null">
        receiver_headimgurl,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
      <if test="weixin_pigowner != null">
        weixin_pigowner,
      </if>
      <if test="weixin_mobile != null">
        weixin_mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detail_id != null">
        #{detail_id,jdbcType=VARCHAR},
      </if>
      <if test="cote_id != null">
        #{cote_id,jdbcType=VARCHAR},
      </if>
      <if test="cote_name != null">
        #{cote_name,jdbcType=VARCHAR},
      </if>
      <if test="cote_state != null">
        #{cote_state,jdbcType=VARCHAR},
      </if>
      <if test="master_id != null">
        #{master_id,jdbcType=VARCHAR},
      </if>
      <if test="master_text != null">
        #{master_text,jdbcType=VARCHAR},
      </if>
      <if test="master_href != null">
        #{master_href,jdbcType=VARCHAR},
      </if>
      <if test="master_type != null">
        #{master_type,jdbcType=VARCHAR},
      </if>
      <if test="master_website != null">
        #{master_website,jdbcType=VARCHAR},
      </if>
      <if test="detail_page != null">
        #{detail_page,jdbcType=INTEGER},
      </if>
      <if test="detail_page_index != null">
        #{detail_page_index,jdbcType=INTEGER},
      </if>
      <if test="detail_state != null">
        #{detail_state,jdbcType=VARCHAR},
      </if>
      <if test="distence != null">
        #{distence,jdbcType=VARCHAR},
      </if>
      <if test="ringnum != null">
        #{ringnum,jdbcType=VARCHAR},
      </if>
      <if test="pigowner != null">
        #{pigowner,jdbcType=VARCHAR},
      </if>
      <if test="cometime != null">
        #{cometime,jdbcType=VARCHAR},
      </if>
      <if test="cotenum != null">
        #{cotenum,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="receiver_openid != null">
        #{receiver_openid,jdbcType=VARCHAR},
      </if>
      <if test="receiver_nickname != null">
        #{receiver_nickname,jdbcType=VARCHAR},
      </if>
      <if test="receiver_headimgurl != null">
        #{receiver_headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="weixin_pigowner != null">
        #{weixin_pigowner,jdbcType=VARCHAR},
      </if>
      <if test="weixin_mobile != null">
        #{weixin_mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saas.biz.pojo.NodejsCrawlerDetailGame">
    <!--
    @mbg.generated
    -->
    update nodejs_crawler_detail_game
    <set>
      <if test="cote_id != null">
        cote_id = #{cote_id,jdbcType=VARCHAR},
      </if>
      <if test="cote_name != null">
        cote_name = #{cote_name,jdbcType=VARCHAR},
      </if>
      <if test="cote_state != null">
        cote_state = #{cote_state,jdbcType=VARCHAR},
      </if>
      <if test="master_id != null">
        master_id = #{master_id,jdbcType=VARCHAR},
      </if>
      <if test="master_text != null">
        master_text = #{master_text,jdbcType=VARCHAR},
      </if>
      <if test="master_href != null">
        master_href = #{master_href,jdbcType=VARCHAR},
      </if>
      <if test="master_type != null">
        master_type = #{master_type,jdbcType=VARCHAR},
      </if>
      <if test="master_website != null">
        master_website = #{master_website,jdbcType=VARCHAR},
      </if>
      <if test="detail_page != null">
        detail_page = #{detail_page,jdbcType=INTEGER},
      </if>
      <if test="detail_page_index != null">
        detail_page_index = #{detail_page_index,jdbcType=INTEGER},
      </if>
      <if test="detail_state != null">
        detail_state = #{detail_state,jdbcType=VARCHAR},
      </if>
      <if test="distence != null">
        distence = #{distence,jdbcType=VARCHAR},
      </if>
      <if test="ringnum != null">
        ringnum = #{ringnum,jdbcType=VARCHAR},
      </if>
      <if test="pigowner != null">
        pigowner = #{pigowner,jdbcType=VARCHAR},
      </if>
      <if test="cometime != null">
        cometime = #{cometime,jdbcType=VARCHAR},
      </if>
      <if test="cotenum != null">
        cotenum = #{cotenum,jdbcType=VARCHAR},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="receiver_openid != null">
        receiver_openid = #{receiver_openid,jdbcType=VARCHAR},
      </if>
      <if test="receiver_nickname != null">
        receiver_nickname = #{receiver_nickname,jdbcType=VARCHAR},
      </if>
      <if test="receiver_headimgurl != null">
        receiver_headimgurl = #{receiver_headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="weixin_pigowner != null">
        weixin_pigowner = #{weixin_pigowner,jdbcType=VARCHAR},
      </if>
      <if test="weixin_mobile != null">
        weixin_mobile = #{weixin_mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where detail_id = #{detail_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saas.biz.pojo.NodejsCrawlerDetailGame">
    <!--
    @mbg.generated
    -->
    update nodejs_crawler_detail_game
    set cote_id = #{cote_id,jdbcType=VARCHAR},
      cote_name = #{cote_name,jdbcType=VARCHAR},
      cote_state = #{cote_state,jdbcType=VARCHAR},
      master_id = #{master_id,jdbcType=VARCHAR},
      master_text = #{master_text,jdbcType=VARCHAR},
      master_href = #{master_href,jdbcType=VARCHAR},
      master_type = #{master_type,jdbcType=VARCHAR},
      master_website = #{master_website,jdbcType=VARCHAR},
      detail_page = #{detail_page,jdbcType=INTEGER},
      detail_page_index = #{detail_page_index,jdbcType=INTEGER},
      detail_state = #{detail_state,jdbcType=VARCHAR},
      distence = #{distence,jdbcType=VARCHAR},
      ringnum = #{ringnum,jdbcType=VARCHAR},
      pigowner = #{pigowner,jdbcType=VARCHAR},
      cometime = #{cometime,jdbcType=VARCHAR},
      cotenum = #{cotenum,jdbcType=VARCHAR},
      speed = #{speed,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      receiver_openid = #{receiver_openid,jdbcType=VARCHAR},
      receiver_nickname = #{receiver_nickname,jdbcType=VARCHAR},
      receiver_headimgurl = #{receiver_headimgurl,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      weixin_pigowner = #{weixin_pigowner,jdbcType=VARCHAR},
      weixin_mobile = #{weixin_mobile,jdbcType=VARCHAR}
    where detail_id = #{detail_id,jdbcType=VARCHAR}
  </update>
</mapper>