body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u134 {
  position:absolute;
  left:32px;
  top:7px;
  width:145px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  visibility:hidden;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:28px;
}
#u136 {
  position:absolute;
  left:14px;
  top:14px;
  width:457px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
  text-align:left;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:21px;
}
#u138 {
  position:absolute;
  left:32px;
  top:59px;
  width:561px;
  height:20px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:750px;
}
#u140 {
  position:absolute;
  left:32px;
  top:89px;
  width:439px;
  height:750px;
}
#u141 {
  position:absolute;
  left:2px;
  top:367px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
