<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="renderer" content="webkit">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>	
<title>公棚列表</title>


<link rel="stylesheet" href="/plugins/jquery-weui/weui/lib/weui.min.css">
<link rel="stylesheet" href="/plugins/jquery-weui/weui/css/jquery-weui.css">
<link rel="stylesheet" href="/plugins/jquery-weui/demo/css/demos.css">

<script src="/plugins/jquery-weui1.2.1/js/zepto.js"></script>
<script src="/plugins/jquery-weui1.2.1/js/media.js"></script>

</head>
<body>
<div class="weui_grids">


      <a href="http://gdgp.chinaxinge.com/default2.asp?gp_id=910" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              北京源翔克劳沃
        </p>
      </a>
     
     <a href="http://gdgp.chinaxinge.com/style/mo10/default.asp?gp_id=1174" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              北京华顺德
        </p>
      </a>
      
      <a href="http://gdgp.chinaxinge.com/style/mo13/default.asp?gp_id=977" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              北京翔瑞缘
        </p>
      </a>
     
      <a href="http://gdgp.chinaxinge.com/style/mo6/default.asp?gp_id=1100" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              北京盛世滨河
        </p>
      </a>
      
       <a href="http://gdgp.chinaxinge.com/style/mo10/default.asp?gp_id=498" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              河北泰达
        </p>
      </a>
   
    <a href="http://gdgp.chinaxinge.com/style/mo4/default.asp?gp_id=1478" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              唐山鸿冠
        </p>
      </a>

 <a href="http://gdgp.chinaxinge.com/style/mo13/default.asp?gp_id=133" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="/plugins/jquery-weui/weui/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
              河北唐山腾飞
        </p>
      </a>
      
    </div>
</body>
</html>