<div class="admin-main">
    <blockquote class="layui-elem-quote" style="margin-bottom: 0px;">
        <button class="layui-btn" id="btnSignUpAdd">报名</button>
        <button class="layui-btn" id="btnSignUpDelete">删除</button>
            <input type="hidden" name="match_id" value="${match_id?if_exists }">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:200px">鸽主姓名</label>
                <div class="layui-input-inline">
                    <input id="search_member_name" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-inline">
                <button id="btnSignUpSearch" class="layui-btn">查询</button>
            </div>
    </blockquote>
    <div class="layui-form layui-form-pane" id="signUpListForm">
        <table id="signUpListTable" lay-filter="test"></table>
    </div>
</div>
<script type="text/javascript" src="../pagejs/nodejsMatch/sign_up_list.js?v=${.now?string('yyyyMMddHHmmss')}"></script>

