<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户管理</title>
<link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../css/global.css?v=${.now?string('yyyyMMddHHmmss')}" media="all">
<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/table.css" />
</head>
<body>
	<div class="admin-main">
		<div class="content-search">
			<div class="layui-form layui-form-pane">
				<div class="layui-inline">
					<label class="layui-form-label">公棚鸽主</label>
					<div class="layui-input-inline">
						<input id="search_bind_name" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">公棚手机</label>
					<div class="layui-input-inline">
						<input id="search_bind_tel" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 140px;">公棚开始时间</label>
					<div class="layui-input-inline">
						<input class="layui-input  layui-date"  lay-verify="date"  placeholder="开始时间" id="search_bind_startTime">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 140px;">公棚截止时间</label>
					<div class="layui-input-inline">
						<input class="layui-input layui-date" lay-verify="date"  placeholder="结束时间" id="search_bind_endTime">
					</div>
				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label">俱乐部鸽主</label>
					<div class="layui-input-inline">
						<input id="search_club_bind_name" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">俱乐部手机</label>
					<div class="layui-input-inline">
						<input id="search_club_bind_tel" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 140px;">俱乐部开始时间</label>
					<div class="layui-input-inline">
						<input class="layui-input  layui-date"  lay-verify="date"  placeholder="开始时间" id="search_club_bind_startTime">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 140px;">俱乐部截止时间</label>
					<div class="layui-input-inline">
						<input class="layui-input layui-date" lay-verify="date"  placeholder="结束时间" id="search_club_bind_endTime">
					</div>
				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label">用户openid</label>
					<div class="layui-input-inline">
						<input id="search_openid" class="layui-input" type="text" />
					</div>
				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label" >关注时间1</label>
					<div class="layui-input-inline">
						<input class="layui-input  layui-date"  lay-verify="date"  placeholder="开始时间" id="search_create_time_startTime">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" >关注时间2</label>
					<div class="layui-input-inline">
						<input class="layui-input layui-date" lay-verify="date"  placeholder="结束时间" id="search_create_time_endTime">
					</div>
				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label">关注状态</label>
					<div class="layui-input-inline">
						<div class="layui-input-inline">
                            <select name="type" id="search_subscribe" lay-search="" class="layui-input">
                                <option value="">所有类型</option>
                                <option value="1" >已关注</option>
                                <option value="0" >未关注</option>
                            </select>
                        </div>
					</div>
				</div>
				<div class="layui-inline">
					<button id="btnSearch" class="layui-btn">查询</button>
				</div>

			</div>
		</div>
		<blockquote class="layui-elem-quote" style="margin-bottom: 0px;">
			<button class="layui-btn" id="btnSynchronize">同步</button>
			<button class="layui-btn" id="btnUpdate">修改</button>
			<!-- <button class="layui-btn" id="btnSendGameMessage">发送比赛通知</button> -->
			<button class="layui-btn" id="btnSendResultMessage">发送比赛成绩</button>

		</blockquote>


		<div class="layui-form layui-form-pane">
			<table id="listTable" lay-filter="test"></table>
		</div>

	</div>

	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../pagejs/base.js?v=${.now?string('yyyyMMddHHmmss')}"></script>
	<script type="text/javascript" src="../pagejs/weixinuser/list.js?v=${.now?string('yyyyMMddHHmmss')}"></script>
	<script type="text/html" id="toolBarTpl">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
	<script type="text/html" id="headimgurlBarTpl">
 <img src="{{ d.headimgurl }}" style=" width: 48px;height: 48px; "/>
</script>
</body>

</html>