body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:353px;
}
#u799 {
  position:absolute;
  left:145px;
  top:93px;
  width:764px;
  height:352px;
}
#u800 {
  position:absolute;
  left:2px;
  top:168px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u801 {
  position:absolute;
  left:180px;
  top:155px;
  width:106px;
  height:40px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u803 {
  position:absolute;
  left:181px;
  top:115px;
  width:229px;
  height:20px;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:353px;
}
#u805 {
  position:absolute;
  left:14px;
  top:93px;
  width:121px;
  height:352px;
  text-align:left;
}
#u806 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:55px;
}
#u807 {
  position:absolute;
  left:14px;
  top:14px;
  width:521px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2457A8;
  text-align:left;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  word-wrap:break-word;
}
