body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:274px;
}
#u142 {
  position:absolute;
  left:56px;
  top:37px;
  width:592px;
  height:273px;
  font-size:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
