<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>平民赛鸽网</title>
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="css/login.css" />
</head>

<body class="beg-login-bg">
	<div class="beg-login-box">
		<header>
			<h1>平民赛鸽网-登录</h1>
		</header>
		<div class="beg-login-main">
			<form method="post" class="layui-form">
				<div class="layui-form-item">
					<label class="beg-login-icon"> <i class="layui-icon">&#xe612;</i>
					</label> <input type="text" name="loginName" lay-verify="required"
						autocomplete="off" placeholder="这里输入登录名" class="layui-input">
				</div>
				<div class="layui-form-item">
					<label class="beg-login-icon"> <i class="layui-icon">&#xe642;</i>
					</label> <input type="password" name="password" lay-verify="required"
						autocomplete="off" placeholder="这里输入密码" class="layui-input">
				</div>
				<div class="layui-form-item">

					<div class="beg-pull-right">
						<button class="layui-btn layui-btn-primary" lay-submit
							lay-filter="login">
							<i class="layui-icon">&#xe650;</i> 登录
						</button>
					</div>
					<div class="beg-clear"></div>
				</div>
			</form>
		</div>
		<footer>
			<p>平民赛鸽网 © www.pmsgw.com</p>
		</footer>
	</div>
	<script type="text/javascript" src="plugins/layui/layui.js"></script>
	<script>
		// 判断是否过期; 如已过期，则页面内容显示在页面框架中,跳转到登录页面

		if (window != top) {
			top.location.href = location.href;
		}
	</script>
	<script>
		layui.use([ 'layer', 'form', 'element' ], function() {
			var $ = layui.$;
			var form = layui.form;

			function loginSuccess() {
				layer.msg("登录成功", {
					icon : 6,
					time : 1000
				}, function(index) {
					layer.close(index);
					
					 setTimeout(function(){
	                        window.location.href ='/';
	                    }, 500);
				});
			}

			function loginError(msg) {
				layer.msg(msg, {
					icon : 5,
					time : 2000
				}, function(index) {
					layer.close(index);
				});
			}

			form.on('submit(login)', function(data) {
				$.ajax({
					url : "/doLogin",
					type : "post",
					dataType : "json",
					data : data.field,
					success : function(ret) {
						if (ret.code === 0) {
							loginSuccess();
						} else {
							loginError(ret.message);
						}
					}
				});

				return false;
			});
		});
	</script>
</body>

</html>