<div style="margin: 15px;">
	<form class="layui-form">
		
		<div class="layui-form-item">
			<label class="layui-form-label">规则项名称</label>
			<div class="layui-input-block">
			   <input type="hidden" id="id" name="id" value="${item.id?if_exists }">
			    <input type="hidden" id="masterId" name="masterId" value="${item.masterId?if_exists }">
			    <input name="name"  type="text"  class="layui-input" value="${item.name?if_exists }">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">规则项说明</label>
			<div class="layui-input-block">
				<input name="description"  type="text"  class="layui-input" value="${item.description?if_exists }">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">规则项详情</label>
			<div class="layui-input-block">
				<textarea name="detailsMessage"  rows="15"   type="text"  class="layui-textarea" >${item.detailsMessage?if_exists }</textarea>
			</div>
		</div>
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>