<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p><span style="font-size: 36px;"><strong><span style="font-family: 宋体;">联系电话 13810437326</span></strong></span></p><p><span style="font-size: 36px;"><strong><span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong></span></p><p><span style="font-size: 36px;"><strong><span style="font-family: 宋体; font-size: 36px;"><br></span></strong></span></p><p><span style="font-size: 36px;"><strong><span style="font-family: 宋体; font-size: 24px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;联系人 &nbsp;郝先生</span></strong></span></p>
				
				<br/>
				<p>官方微信公众号：大众赛鸽gh_727baa488e69</p>
				
			</blockquote>
			
		</div>
	</body>

</html>