<!doctype html>
<html>
<head>
<title>平民赛鸽网</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="stylesheet" href="/plugins/jquery-weui/dist/lib/weui.min.css">
<link rel="stylesheet" href="/plugins/jquery-weui/dist/css/jquery-weui.min.css" />

<link rel="stylesheet" href="/plugins/jquery-weui/css/reset.css" />
<link rel="stylesheet" href="/plugins/jquery-weui/css/flex.css" />
<link rel="stylesheet" href="/plugins/jquery-weui/css/style.css" />
<link rel="stylesheet" href="/plugins/jquery-weui/weui/demos/css/demos.css">
  </head>

  <body ontouchstart>

    <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">操作成功</h2>
        <p class="weui_msg_desc">内容详情，可根据实际需要安排</p>
      </div>
      <div class="weui_opr_area">
        <p class="weui_btn_area">
          <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
          <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
        </p>
      </div>
      <div class="weui_extra_area">
        <a href="">查看详情</a>
      </div>
    </div>
<script src="/plugins/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
	<script src="/plugins/jquery-weui/dist/lib/fastclick.js"></script>

	<script src="/plugins/jquery-weui/dist/js/jquery-weui.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>


  </body>
</html>
