<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.biz.mapper.base.NodejsCustomerGameMessageMapper">
  <resultMap id="BaseResultMap" type="com.saas.biz.pojo.NodejsCustomerGameMessage">
    <!--
    @mbg.generated
    -->
    <id column="message_id" jdbcType="VARCHAR" property="message_id" />
    <result column="message_senderId" jdbcType="VARCHAR" property="message_senderId" />
    <result column="message_senderName" jdbcType="VARCHAR" property="message_senderName" />
    <result column="message_receiverId" jdbcType="VARCHAR" property="message_receiverId" />
    <result column="message_receiverName" jdbcType="VARCHAR" property="message_receiverName" />
    <result column="message_sendTime" jdbcType="TIMESTAMP" property="message_sendTime" />
    <result column="message_type" jdbcType="VARCHAR" property="message_type" />
    <result column="message_title" jdbcType="VARCHAR" property="message_title" />
    <result column="message_text" jdbcType="VARCHAR" property="message_text" />
    <result column="message_status" jdbcType="INTEGER" property="message_status" />
    <result column="message_create_time" jdbcType="TIMESTAMP" property="message_create_time" />
    <result column="message_modify_time" jdbcType="TIMESTAMP" property="message_modify_time" />
    <result column="game_cote_id" jdbcType="VARCHAR" property="game_cote_id" />
    <result column="game_cote_name" jdbcType="VARCHAR" property="game_cote_name" />
    <result column="game_cote_state" jdbcType="VARCHAR" property="game_cote_state" />
    <result column="game_master_id" jdbcType="VARCHAR" property="game_master_id" />
    <result column="game_master_text" jdbcType="VARCHAR" property="game_master_text" />
    <result column="game_master_href" jdbcType="VARCHAR" property="game_master_href" />
    <result column="game_master_type" jdbcType="VARCHAR" property="game_master_type" />
    <result column="game_master_website" jdbcType="VARCHAR" property="game_master_website" />
    <result column="game_master_date" jdbcType="VARCHAR" property="game_master_date" />
    <result column="game_master_state" jdbcType="VARCHAR" property="game_master_state" />
    <result column="game_receiver_openid" jdbcType="VARCHAR" property="game_receiver_openid" />
    <result column="game_receiver_nickname" jdbcType="VARCHAR" property="game_receiver_nickname" />
    <result column="game_receiver_headimgurl" jdbcType="VARCHAR" property="game_receiver_headimgurl" />
    <result column="game_create_time" jdbcType="TIMESTAMP" property="game_create_time" />
    <result column="game_modify_time" jdbcType="TIMESTAMP" property="game_modify_time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    message_id, message_senderId, message_senderName, message_receiverId, message_receiverName, 
    message_sendTime, message_type, message_title, message_text, message_status, message_create_time, 
    message_modify_time, game_cote_id, game_cote_name, game_cote_state, game_master_id, 
    game_master_text, game_master_href, game_master_type, game_master_website, game_master_date, 
    game_master_state, game_receiver_openid, game_receiver_nickname, game_receiver_headimgurl, 
    game_create_time, game_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from nodejs_customer_game_message
    where message_id = #{message_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbg.generated
    -->
    delete from nodejs_customer_game_message
    where message_id = #{message_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.saas.biz.pojo.NodejsCustomerGameMessage">
    <!--
    @mbg.generated
    -->
    insert into nodejs_customer_game_message (message_id, message_senderId, message_senderName, 
      message_receiverId, message_receiverName, 
      message_sendTime, message_type, message_title, 
      message_text, message_status, message_create_time, 
      message_modify_time, game_cote_id, game_cote_name, 
      game_cote_state, game_master_id, game_master_text, 
      game_master_href, game_master_type, game_master_website, 
      game_master_date, game_master_state, game_receiver_openid, 
      game_receiver_nickname, game_receiver_headimgurl, 
      game_create_time, game_modify_time)
    values (#{message_id,jdbcType=VARCHAR}, #{message_senderId,jdbcType=VARCHAR}, #{message_senderName,jdbcType=VARCHAR}, 
      #{message_receiverId,jdbcType=VARCHAR}, #{message_receiverName,jdbcType=VARCHAR}, 
      #{message_sendTime,jdbcType=TIMESTAMP}, #{message_type,jdbcType=VARCHAR}, #{message_title,jdbcType=VARCHAR}, 
      #{message_text,jdbcType=VARCHAR}, #{message_status,jdbcType=INTEGER}, #{message_create_time,jdbcType=TIMESTAMP}, 
      #{message_modify_time,jdbcType=TIMESTAMP}, #{game_cote_id,jdbcType=VARCHAR}, #{game_cote_name,jdbcType=VARCHAR}, 
      #{game_cote_state,jdbcType=VARCHAR}, #{game_master_id,jdbcType=VARCHAR}, #{game_master_text,jdbcType=VARCHAR}, 
      #{game_master_href,jdbcType=VARCHAR}, #{game_master_type,jdbcType=VARCHAR}, #{game_master_website,jdbcType=VARCHAR}, 
      #{game_master_date,jdbcType=VARCHAR}, #{game_master_state,jdbcType=VARCHAR}, #{game_receiver_openid,jdbcType=VARCHAR}, 
      #{game_receiver_nickname,jdbcType=VARCHAR}, #{game_receiver_headimgurl,jdbcType=VARCHAR}, 
      #{game_create_time,jdbcType=TIMESTAMP}, #{game_modify_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.saas.biz.pojo.NodejsCustomerGameMessage">
    <!--
    @mbg.generated
    -->
    insert into nodejs_customer_game_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="message_id != null">
        message_id,
      </if>
      <if test="message_senderId != null">
        message_senderId,
      </if>
      <if test="message_senderName != null">
        message_senderName,
      </if>
      <if test="message_receiverId != null">
        message_receiverId,
      </if>
      <if test="message_receiverName != null">
        message_receiverName,
      </if>
      <if test="message_sendTime != null">
        message_sendTime,
      </if>
      <if test="message_type != null">
        message_type,
      </if>
      <if test="message_title != null">
        message_title,
      </if>
      <if test="message_text != null">
        message_text,
      </if>
      <if test="message_status != null">
        message_status,
      </if>
      <if test="message_create_time != null">
        message_create_time,
      </if>
      <if test="message_modify_time != null">
        message_modify_time,
      </if>
      <if test="game_cote_id != null">
        game_cote_id,
      </if>
      <if test="game_cote_name != null">
        game_cote_name,
      </if>
      <if test="game_cote_state != null">
        game_cote_state,
      </if>
      <if test="game_master_id != null">
        game_master_id,
      </if>
      <if test="game_master_text != null">
        game_master_text,
      </if>
      <if test="game_master_href != null">
        game_master_href,
      </if>
      <if test="game_master_type != null">
        game_master_type,
      </if>
      <if test="game_master_website != null">
        game_master_website,
      </if>
      <if test="game_master_date != null">
        game_master_date,
      </if>
      <if test="game_master_state != null">
        game_master_state,
      </if>
      <if test="game_receiver_openid != null">
        game_receiver_openid,
      </if>
      <if test="game_receiver_nickname != null">
        game_receiver_nickname,
      </if>
      <if test="game_receiver_headimgurl != null">
        game_receiver_headimgurl,
      </if>
      <if test="game_create_time != null">
        game_create_time,
      </if>
      <if test="game_modify_time != null">
        game_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="message_id != null">
        #{message_id,jdbcType=VARCHAR},
      </if>
      <if test="message_senderId != null">
        #{message_senderId,jdbcType=VARCHAR},
      </if>
      <if test="message_senderName != null">
        #{message_senderName,jdbcType=VARCHAR},
      </if>
      <if test="message_receiverId != null">
        #{message_receiverId,jdbcType=VARCHAR},
      </if>
      <if test="message_receiverName != null">
        #{message_receiverName,jdbcType=VARCHAR},
      </if>
      <if test="message_sendTime != null">
        #{message_sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message_type != null">
        #{message_type,jdbcType=VARCHAR},
      </if>
      <if test="message_title != null">
        #{message_title,jdbcType=VARCHAR},
      </if>
      <if test="message_text != null">
        #{message_text,jdbcType=VARCHAR},
      </if>
      <if test="message_status != null">
        #{message_status,jdbcType=INTEGER},
      </if>
      <if test="message_create_time != null">
        #{message_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message_modify_time != null">
        #{message_modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="game_cote_id != null">
        #{game_cote_id,jdbcType=VARCHAR},
      </if>
      <if test="game_cote_name != null">
        #{game_cote_name,jdbcType=VARCHAR},
      </if>
      <if test="game_cote_state != null">
        #{game_cote_state,jdbcType=VARCHAR},
      </if>
      <if test="game_master_id != null">
        #{game_master_id,jdbcType=VARCHAR},
      </if>
      <if test="game_master_text != null">
        #{game_master_text,jdbcType=VARCHAR},
      </if>
      <if test="game_master_href != null">
        #{game_master_href,jdbcType=VARCHAR},
      </if>
      <if test="game_master_type != null">
        #{game_master_type,jdbcType=VARCHAR},
      </if>
      <if test="game_master_website != null">
        #{game_master_website,jdbcType=VARCHAR},
      </if>
      <if test="game_master_date != null">
        #{game_master_date,jdbcType=VARCHAR},
      </if>
      <if test="game_master_state != null">
        #{game_master_state,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_openid != null">
        #{game_receiver_openid,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_nickname != null">
        #{game_receiver_nickname,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_headimgurl != null">
        #{game_receiver_headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="game_create_time != null">
        #{game_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="game_modify_time != null">
        #{game_modify_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saas.biz.pojo.NodejsCustomerGameMessage">
    <!--
    @mbg.generated
    -->
    update nodejs_customer_game_message
    <set>
      <if test="message_senderId != null">
        message_senderId = #{message_senderId,jdbcType=VARCHAR},
      </if>
      <if test="message_senderName != null">
        message_senderName = #{message_senderName,jdbcType=VARCHAR},
      </if>
      <if test="message_receiverId != null">
        message_receiverId = #{message_receiverId,jdbcType=VARCHAR},
      </if>
      <if test="message_receiverName != null">
        message_receiverName = #{message_receiverName,jdbcType=VARCHAR},
      </if>
      <if test="message_sendTime != null">
        message_sendTime = #{message_sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message_type != null">
        message_type = #{message_type,jdbcType=VARCHAR},
      </if>
      <if test="message_title != null">
        message_title = #{message_title,jdbcType=VARCHAR},
      </if>
      <if test="message_text != null">
        message_text = #{message_text,jdbcType=VARCHAR},
      </if>
      <if test="message_status != null">
        message_status = #{message_status,jdbcType=INTEGER},
      </if>
      <if test="message_create_time != null">
        message_create_time = #{message_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message_modify_time != null">
        message_modify_time = #{message_modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="game_cote_id != null">
        game_cote_id = #{game_cote_id,jdbcType=VARCHAR},
      </if>
      <if test="game_cote_name != null">
        game_cote_name = #{game_cote_name,jdbcType=VARCHAR},
      </if>
      <if test="game_cote_state != null">
        game_cote_state = #{game_cote_state,jdbcType=VARCHAR},
      </if>
      <if test="game_master_id != null">
        game_master_id = #{game_master_id,jdbcType=VARCHAR},
      </if>
      <if test="game_master_text != null">
        game_master_text = #{game_master_text,jdbcType=VARCHAR},
      </if>
      <if test="game_master_href != null">
        game_master_href = #{game_master_href,jdbcType=VARCHAR},
      </if>
      <if test="game_master_type != null">
        game_master_type = #{game_master_type,jdbcType=VARCHAR},
      </if>
      <if test="game_master_website != null">
        game_master_website = #{game_master_website,jdbcType=VARCHAR},
      </if>
      <if test="game_master_date != null">
        game_master_date = #{game_master_date,jdbcType=VARCHAR},
      </if>
      <if test="game_master_state != null">
        game_master_state = #{game_master_state,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_openid != null">
        game_receiver_openid = #{game_receiver_openid,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_nickname != null">
        game_receiver_nickname = #{game_receiver_nickname,jdbcType=VARCHAR},
      </if>
      <if test="game_receiver_headimgurl != null">
        game_receiver_headimgurl = #{game_receiver_headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="game_create_time != null">
        game_create_time = #{game_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="game_modify_time != null">
        game_modify_time = #{game_modify_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where message_id = #{message_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saas.biz.pojo.NodejsCustomerGameMessage">
    <!--
    @mbg.generated
    -->
    update nodejs_customer_game_message
    set message_senderId = #{message_senderId,jdbcType=VARCHAR},
      message_senderName = #{message_senderName,jdbcType=VARCHAR},
      message_receiverId = #{message_receiverId,jdbcType=VARCHAR},
      message_receiverName = #{message_receiverName,jdbcType=VARCHAR},
      message_sendTime = #{message_sendTime,jdbcType=TIMESTAMP},
      message_type = #{message_type,jdbcType=VARCHAR},
      message_title = #{message_title,jdbcType=VARCHAR},
      message_text = #{message_text,jdbcType=VARCHAR},
      message_status = #{message_status,jdbcType=INTEGER},
      message_create_time = #{message_create_time,jdbcType=TIMESTAMP},
      message_modify_time = #{message_modify_time,jdbcType=TIMESTAMP},
      game_cote_id = #{game_cote_id,jdbcType=VARCHAR},
      game_cote_name = #{game_cote_name,jdbcType=VARCHAR},
      game_cote_state = #{game_cote_state,jdbcType=VARCHAR},
      game_master_id = #{game_master_id,jdbcType=VARCHAR},
      game_master_text = #{game_master_text,jdbcType=VARCHAR},
      game_master_href = #{game_master_href,jdbcType=VARCHAR},
      game_master_type = #{game_master_type,jdbcType=VARCHAR},
      game_master_website = #{game_master_website,jdbcType=VARCHAR},
      game_master_date = #{game_master_date,jdbcType=VARCHAR},
      game_master_state = #{game_master_state,jdbcType=VARCHAR},
      game_receiver_openid = #{game_receiver_openid,jdbcType=VARCHAR},
      game_receiver_nickname = #{game_receiver_nickname,jdbcType=VARCHAR},
      game_receiver_headimgurl = #{game_receiver_headimgurl,jdbcType=VARCHAR},
      game_create_time = #{game_create_time,jdbcType=TIMESTAMP},
      game_modify_time = #{game_modify_time,jdbcType=TIMESTAMP}
    where message_id = #{message_id,jdbcType=VARCHAR}
  </update>
</mapper>