<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.biz.mapper.base.PmsgwGameMasterMapper" >
  <resultMap id="BaseResultMap" type="com.saas.biz.pojo.PmsgwGameMaster" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title_name" property="title_name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="Data_time" property="data_time" jdbcType="VARCHAR" />
    <result column="Data_fengxiang" property="data_fengxiang" jdbcType="VARCHAR" />
    <result column="Data_fengli" property="data_fengli" jdbcType="VARCHAR" />
    <result column="Data_address" property="data_address" jdbcType="VARCHAR" />
    <result column="Data_num" property="data_num" jdbcType="INTEGER" />
    <result column="Heartrate" property="heartrate" jdbcType="INTEGER" />
    <result column="race_id" property="race_id" jdbcType="BIGINT" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="qh" property="qh" jdbcType="VARCHAR" />
    <result column="jd" property="jd" jdbcType="VARCHAR" />
    <result column="wd" property="wd" jdbcType="VARCHAR" />
    <result column="tq" property="tq" jdbcType="VARCHAR" />
    <result column="bigfile" property="bigfile" jdbcType="VARCHAR" />
    <result column="main_number" property="main_number" jdbcType="VARCHAR" />
    <result column="main_text" property="main_text" jdbcType="VARCHAR" />
    <result column="main_href" property="main_href" jdbcType="VARCHAR" />
    <result column="main_date" property="main_date" jdbcType="VARCHAR" />
    <result column="main_type" property="main_type" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />
    <result column="crawlerCurTotal" property="crawlerCurTotal" jdbcType="VARCHAR" />
    <result column="crawlerCurPageid" property="crawlerCurPageid" jdbcType="VARCHAR" />
    <result column="crawlerCurUrl" property="crawlerCurUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title_name, title, Data_time, Data_fengxiang, Data_fengli, Data_address, Data_num, 
    Heartrate, race_id, tablename, qh, jd, wd, tq, bigfile, main_number, main_text, main_href, 
    main_date, main_type, website, create_time, modify_time, crawlerCurTotal, crawlerCurPageid, 
    crawlerCurUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pmsgw_game_master
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pmsgw_game_master
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.saas.biz.pojo.PmsgwGameMaster" >
    insert into pmsgw_game_master (id, title_name, title, 
      Data_time, Data_fengxiang, Data_fengli, 
      Data_address, Data_num, Heartrate, 
      race_id, tablename, qh, 
      jd, wd, tq, bigfile, 
      main_number, main_text, main_href, 
      main_date, main_type, website, 
      create_time, modify_time, crawlerCurTotal, 
      crawlerCurPageid, crawlerCurUrl)
    values (#{id,jdbcType=BIGINT}, #{title_name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{data_time,jdbcType=VARCHAR}, #{data_fengxiang,jdbcType=VARCHAR}, #{data_fengli,jdbcType=VARCHAR}, 
      #{data_address,jdbcType=VARCHAR}, #{data_num,jdbcType=INTEGER}, #{heartrate,jdbcType=INTEGER}, 
      #{race_id,jdbcType=BIGINT}, #{tablename,jdbcType=VARCHAR}, #{qh,jdbcType=VARCHAR}, 
      #{jd,jdbcType=VARCHAR}, #{wd,jdbcType=VARCHAR}, #{tq,jdbcType=VARCHAR}, #{bigfile,jdbcType=VARCHAR}, 
      #{main_number,jdbcType=VARCHAR}, #{main_text,jdbcType=VARCHAR}, #{main_href,jdbcType=VARCHAR}, 
      #{main_date,jdbcType=VARCHAR}, #{main_type,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{modify_time,jdbcType=TIMESTAMP}, #{crawlerCurTotal,jdbcType=VARCHAR}, 
      #{crawlerCurPageid,jdbcType=VARCHAR}, #{crawlerCurUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.saas.biz.pojo.PmsgwGameMaster" >
    insert into pmsgw_game_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title_name != null" >
        title_name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="data_time != null" >
        Data_time,
      </if>
      <if test="data_fengxiang != null" >
        Data_fengxiang,
      </if>
      <if test="data_fengli != null" >
        Data_fengli,
      </if>
      <if test="data_address != null" >
        Data_address,
      </if>
      <if test="data_num != null" >
        Data_num,
      </if>
      <if test="heartrate != null" >
        Heartrate,
      </if>
      <if test="race_id != null" >
        race_id,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="qh != null" >
        qh,
      </if>
      <if test="jd != null" >
        jd,
      </if>
      <if test="wd != null" >
        wd,
      </if>
      <if test="tq != null" >
        tq,
      </if>
      <if test="bigfile != null" >
        bigfile,
      </if>
      <if test="main_number != null" >
        main_number,
      </if>
      <if test="main_text != null" >
        main_text,
      </if>
      <if test="main_href != null" >
        main_href,
      </if>
      <if test="main_date != null" >
        main_date,
      </if>
      <if test="main_type != null" >
        main_type,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="modify_time != null" >
        modify_time,
      </if>
      <if test="crawlerCurTotal != null" >
        crawlerCurTotal,
      </if>
      <if test="crawlerCurPageid != null" >
        crawlerCurPageid,
      </if>
      <if test="crawlerCurUrl != null" >
        crawlerCurUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title_name != null" >
        #{title_name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="data_time != null" >
        #{data_time,jdbcType=VARCHAR},
      </if>
      <if test="data_fengxiang != null" >
        #{data_fengxiang,jdbcType=VARCHAR},
      </if>
      <if test="data_fengli != null" >
        #{data_fengli,jdbcType=VARCHAR},
      </if>
      <if test="data_address != null" >
        #{data_address,jdbcType=VARCHAR},
      </if>
      <if test="data_num != null" >
        #{data_num,jdbcType=INTEGER},
      </if>
      <if test="heartrate != null" >
        #{heartrate,jdbcType=INTEGER},
      </if>
      <if test="race_id != null" >
        #{race_id,jdbcType=BIGINT},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="qh != null" >
        #{qh,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=VARCHAR},
      </if>
      <if test="tq != null" >
        #{tq,jdbcType=VARCHAR},
      </if>
      <if test="bigfile != null" >
        #{bigfile,jdbcType=VARCHAR},
      </if>
      <if test="main_number != null" >
        #{main_number,jdbcType=VARCHAR},
      </if>
      <if test="main_text != null" >
        #{main_text,jdbcType=VARCHAR},
      </if>
      <if test="main_href != null" >
        #{main_href,jdbcType=VARCHAR},
      </if>
      <if test="main_date != null" >
        #{main_date,jdbcType=VARCHAR},
      </if>
      <if test="main_type != null" >
        #{main_type,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null" >
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlerCurTotal != null" >
        #{crawlerCurTotal,jdbcType=VARCHAR},
      </if>
      <if test="crawlerCurPageid != null" >
        #{crawlerCurPageid,jdbcType=VARCHAR},
      </if>
      <if test="crawlerCurUrl != null" >
        #{crawlerCurUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saas.biz.pojo.PmsgwGameMaster" >
    update pmsgw_game_master
    <set >
      <if test="title_name != null" >
        title_name = #{title_name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="data_time != null" >
        Data_time = #{data_time,jdbcType=VARCHAR},
      </if>
      <if test="data_fengxiang != null" >
        Data_fengxiang = #{data_fengxiang,jdbcType=VARCHAR},
      </if>
      <if test="data_fengli != null" >
        Data_fengli = #{data_fengli,jdbcType=VARCHAR},
      </if>
      <if test="data_address != null" >
        Data_address = #{data_address,jdbcType=VARCHAR},
      </if>
      <if test="data_num != null" >
        Data_num = #{data_num,jdbcType=INTEGER},
      </if>
      <if test="heartrate != null" >
        Heartrate = #{heartrate,jdbcType=INTEGER},
      </if>
      <if test="race_id != null" >
        race_id = #{race_id,jdbcType=BIGINT},
      </if>
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="qh != null" >
        qh = #{qh,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        jd = #{jd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        wd = #{wd,jdbcType=VARCHAR},
      </if>
      <if test="tq != null" >
        tq = #{tq,jdbcType=VARCHAR},
      </if>
      <if test="bigfile != null" >
        bigfile = #{bigfile,jdbcType=VARCHAR},
      </if>
      <if test="main_number != null" >
        main_number = #{main_number,jdbcType=VARCHAR},
      </if>
      <if test="main_text != null" >
        main_text = #{main_text,jdbcType=VARCHAR},
      </if>
      <if test="main_href != null" >
        main_href = #{main_href,jdbcType=VARCHAR},
      </if>
      <if test="main_date != null" >
        main_date = #{main_date,jdbcType=VARCHAR},
      </if>
      <if test="main_type != null" >
        main_type = #{main_type,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null" >
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlerCurTotal != null" >
        crawlerCurTotal = #{crawlerCurTotal,jdbcType=VARCHAR},
      </if>
      <if test="crawlerCurPageid != null" >
        crawlerCurPageid = #{crawlerCurPageid,jdbcType=VARCHAR},
      </if>
      <if test="crawlerCurUrl != null" >
        crawlerCurUrl = #{crawlerCurUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saas.biz.pojo.PmsgwGameMaster" >
    update pmsgw_game_master
    set title_name = #{title_name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      Data_time = #{data_time,jdbcType=VARCHAR},
      Data_fengxiang = #{data_fengxiang,jdbcType=VARCHAR},
      Data_fengli = #{data_fengli,jdbcType=VARCHAR},
      Data_address = #{data_address,jdbcType=VARCHAR},
      Data_num = #{data_num,jdbcType=INTEGER},
      Heartrate = #{heartrate,jdbcType=INTEGER},
      race_id = #{race_id,jdbcType=BIGINT},
      tablename = #{tablename,jdbcType=VARCHAR},
      qh = #{qh,jdbcType=VARCHAR},
      jd = #{jd,jdbcType=VARCHAR},
      wd = #{wd,jdbcType=VARCHAR},
      tq = #{tq,jdbcType=VARCHAR},
      bigfile = #{bigfile,jdbcType=VARCHAR},
      main_number = #{main_number,jdbcType=VARCHAR},
      main_text = #{main_text,jdbcType=VARCHAR},
      main_href = #{main_href,jdbcType=VARCHAR},
      main_date = #{main_date,jdbcType=VARCHAR},
      main_type = #{main_type,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      crawlerCurTotal = #{crawlerCurTotal,jdbcType=VARCHAR},
      crawlerCurPageid = #{crawlerCurPageid,jdbcType=VARCHAR},
      crawlerCurUrl = #{crawlerCurUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>